[Unit]
#Short description
Description=Service for Teapot - an application that provides a WebDAV that supports multi-tenancy.

#This will not start execution of this file until the network connection is made
After=network.target

[Service]
#User under which the scripts are running
User=teapot
#Environment Variables
Environment=APP_NAME="teapot"
#One less than the first port that is going to be used by any storm webdav
Environment=STARTING_PORT="32399"
# instance timeout, Storm-webdav instances are automatically deleted after a period of inactivity specified here
# default: 10 minutes
Environment=INSTANCE_TIMEOUT_SEC="600"
# interval between instance timeout checks in stop_expired_instances
# default: 3 minutes
Environment=CHECK_INTERVAL_SEC="180"

#Default: Startup type
Type=Exec
#ExecStart runs this executable script
ExecStart=/usr/bin/python3 /usr/share/teapot/teapot.py

#Optional: Saves the output and error log of the terminal to a .log file in a directory of your choosing.
StandardOutput=file:/var/log/teapot/uvicorn.log
StandardError=file:/var/log/teapot/teapot-server-error.log

#Optional: To cleanly end the file on stop use this command. This sends a terminal interrupt command on the executable script
KillSignal=SIGINT

#Automatically restart on kill
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
