---
services:
  keycloak:
    image: ghcr.io/intertwin-eu/keycloak:latest
#    pull_policy: always
    ports:
      - 8080:8080
      - 8443:8443
      - 9000:9000

    networks:
      - test
    volumes:
      - ../../keycloak-setup:/opt/keycloak/data/h2/
  teapot:
    image: ghcr.io/intertwin-eu/teapot:latest
#    pull_policy: always
    networks:
      - test
    volumes:
      - ./logs:/var/log/teapot'
  teapot-ubuntu:
    image: ghcr.io/intertwin-eu/teapot-ubuntu:latest
#    pull_policy: always
    networks:
      - test
  alise:
    image: ghcr.io/intertwin-eu/alise:latest
    pull_policy: always
    ports:
      - 8000:8000
    networks:
      - test
  curl:
    image: curlimages/curl:latest
    command: sh -c "while true; do sleep 1; done"
    networks:
      - test
  main:
    image: ghcr.io/intertwin-eu/robot-testing:latest
#    pull_policy: always
    command: |
      /bin/sh -c '
      eval "$(oidc-agent)"
      sleep 15
      oidc-gen --flow password -f /home/teapot/keycloak-setup/test_client_config.json \
        --op-username test-user1 --op-password secret1  --prompt none \
        --pw-file keycloak_setup/pw-file test-user1
      oidc-gen --flow password -f /home/teapot/keycloak-setup/test_client_config.json \
        --op-username test-user2 --op-password secret2  --prompt none \
        --pw-file keycloak_setup/pw-file test-user2
      robot --outputdir robot/output/ /home/teapot/teapot-tests.robot
      echo "Something else."
      while true; do sleep 1; done'
    networks:
      - test
    volumes:
      - ../../keycloak-setup:/home/teapot/keycloak-setup
      - ./../teapot-tests.robot:/home/teapot/teapot-tests.robot
      - ./../variables.py:/__w/teapot/teapot/robot/variables.py
  linter:
    image: ghcr.io/github/super-linter:slim-v4
    networks:
      - test
    environment:
      - LOG_LEVEL=DEBUG
      - RUN_LOCAL=true
    volumes:
      - ~/git/teapot/:/tmp/lint

networks:
  test:
