---  # trunk-ignore(checkov)
name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}

jobs:
  build-fedora-rpm:
    name: build-fedora-rpm
    runs-on: ubuntu-latest
    container: fedora:39
    steps:
      - name: Install build requisites
        run: |
          dnf -y update
          dnf -y install rpmdevtools systemd-rpm-macros rpmlint rsync git python3-pip wget rpm-build cpio
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get versions
        id: versions
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          VERSION=$(git describe --tags --dirty)
          VERSION_RPM=$(git describe --tags --abbrev=0)
          STORM_VERSION=1.12.0
          {
            echo "version=$VERSION"
            echo "version_rpm=$VERSION_RPM"
            echo "storm_version=$STORM_VERSION"
          } >> "$GITHUB_OUTPUT"
      - name: Set up RPM build environment
        run: rpmdev-setuptree
      - name: Copy spec file
        run: cp rpm/teapot-fedora.spec ~/rpmbuild/SPECS/
      - name: Create source tarball
        run: |
          mkdir teapot-${{ steps.versions.outputs.version_rpm }}
          rsync -av --progress ./* teapot-${{ steps.versions.outputs.version_rpm }}/ --exclude teapot-${{ steps.versions.outputs.version_rpm }}
          tar cfz teapot-${{ steps.versions.outputs.version_rpm }}.tar.gz teapot-${{ steps.versions.outputs.version_rpm }}
          rm -r teapot-${{ steps.versions.outputs.version_rpm }}
          mv teapot-${{ steps.versions.outputs.version_rpm }}.tar.gz ~/rpmbuild/SOURCES/
      - name: Build RPM
        run: |
          rpmbuild -ba \
            --define "version_ ${{ steps.versions.outputs.version_rpm }}" \
            --define "storm_version ${{ steps.versions.outputs.storm_version }}" \
            ~/rpmbuild/SPECS/teapot-fedora.spec
      - uses: actions/upload-artifact@v4
        with:
          name: teapot-${{ steps.versions.outputs.version }}_rpm_fedora_39
          path: /github/home/rpmbuild/RPMS/x86_64/teapot-*.fc39.*.rpm
    outputs:
      version: ${{ steps.versions.outputs.version }}
      version_rpm: ${{ steps.versions.outputs.version_rpm }}
      storm_version: ${{ steps.versions.outputs.storm_version }}

  build-rockylinux-rpm:
    name: build-rockylinux-rpm
    needs: build-fedora-rpm
    runs-on: ubuntu-latest
    container: rockylinux:9.3
    steps:
      - name: Install build requisites
        run: |
          dnf -y update
          dnf -y install rpmdevtools systemd-rpm-macros rpmlint rsync git python3-pip wget rpm-build cpio
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up RPM build environment
        run: rpmdev-setuptree
      - name: Copy spec file
        run: cp rpm/teapot-rockylinux.spec ~/rpmbuild/SPECS/
      - name: Create source tarball
        run: |
          mkdir teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}
          rsync -av --progress ./* teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}/ --exclude teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}
          tar cfz teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}.tar.gz teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}
          rm -r teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}
          mv teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}.tar.gz ~/rpmbuild/SOURCES/
      - name: Build RPM
        run: |
          rpmbuild -ba \
            --define "version_ ${{ needs.build-fedora-rpm.outputs.version_rpm }}" \
            --define "storm_version ${{ needs.build-fedora-rpm.outputs.storm_version }}" \
            ~/rpmbuild/SPECS/teapot-rockylinux.spec
      - uses: actions/upload-artifact@v4
        with:
          name: teapot-${{ needs.build-fedora-rpm.outputs.version }}_rpm_rockylinux_9.3
          path: /github/home/rpmbuild/RPMS/x86_64/teapot-*.rocky9.*.rpm

  build-almalinux-rpm:
    name: build-almalinux-rpm
    needs: build-fedora-rpm
    runs-on: ubuntu-latest
    container: almalinux:9.4
    steps:
      - name: Install build requisites
        run: |
          dnf -y update
          dnf -y install rpmdevtools systemd-rpm-macros rpmlint rsync git python3-pip wget rpm-build cpio
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up RPM build environment
        run: rpmdev-setuptree
      - name: Copy spec file
        run: cp rpm/teapot-almalinux.spec ~/rpmbuild/SPECS/
      - name: Create source tarball
        run: |
          mkdir teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}
          rsync -av --progress ./* teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}/ --exclude teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}
          tar cfz teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}.tar.gz teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}
          rm -r teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}
          mv teapot-${{ needs.build-fedora-rpm.outputs.version_rpm }}.tar.gz ~/rpmbuild/SOURCES/
      - name: Build RPM
        run: |
          rpmbuild -ba \
            --define "version_ ${{ needs.build-fedora-rpm.outputs.version_rpm }}" \
            --define "storm_version ${{ needs.build-fedora-rpm.outputs.storm_version }}" \
            ~/rpmbuild/SPECS/teapot-almalinux.spec
      - uses: actions/upload-artifact@v4
        with:
          name: teapot-${{ needs.build-fedora-rpm.outputs.version }}_rpm_almalinux_9.4
          path: /github/home/rpmbuild/RPMS/x86_64/teapot-*.alma9.*.rpm

  build-deb:
    name: build-deb
    needs: build-fedora-rpm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install build requisites
        run: |
          sudo apt -y update
          sudo apt -y install dpkg-dev build-essential devscripts fakeroot
          sudo apt -y install debhelper-compat=13 dh-python python3 python3-pip
          sudo apt -y install python3-setuptools wget rpm2cpio cpio
      - name: Build deb
        run: |
          export VERSION_DEB="${{ needs.build-fedora-rpm.outputs.version_rpm }}"
          export STORM_VERSION=1.12.0
          dch --newversion "${VERSION_DEB}-1" --distribution unstable "Release ${VERSION_DEB}"
          dch --release ""
          dpkg-buildpackage -us -uc -b
          cp ./../teapot*.deb .
      - uses: actions/upload-artifact@v4
        with:
          name: teapot-${{ needs.build-fedora-rpm.outputs.version }}_debian_all
          path: teapot_*1_all.deb

  container-teapot:
    name: container-teapot
    needs: build-fedora-rpm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v4
        with:
          name: teapot-${{ needs.build-fedora-rpm.outputs.version }}_rpm_fedora_39
          path: /home/runner/work/teapot/teapot/robot
      - name: Building Teapot docker image
        env:
          TOKEN: ${{ secrets.TOKEN }}
          USERNAME: ${{ secrets.USERNAME }}
          TEAPOT_CA_CRT: ${{ secrets.TEAPOT_CA_CRT }}
          TEAPOT_CA_KEY:  ${{ secrets.TEAPOT_CA_KEY }}
        run: |
          cd robot
          echo "$TEAPOT_CA_CRT" > Teapot-testing.crt
          echo "$TEAPOT_CA_KEY" > Teapot-testing.key
          chmod 777 ubuntu/cert-gen.sh
          ubuntu/cert-gen.sh teapot
          docker build . --tag ghcr.io/intertwin-eu/teapot:latest
          echo "$TOKEN" | docker login ghcr.io -u "$USERNAME" --password-stdin
          docker push ghcr.io/intertwin-eu/teapot:latest

  container-teapot-ubuntu:
    name: container-teapot-ubuntu
    needs: [build-fedora-rpm, build-deb]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v4
        with:
          name: teapot-${{ needs.build-fedora-rpm.outputs.version }}_debian_all
          path: /home/runner/work/teapot/teapot/robot/ubuntu
      - name: Building Teapot docker image
        env:
          TOKEN: ${{ secrets.TOKEN }}
          USERNAME: ${{ secrets.USERNAME }}
          TEAPOT_CA_CRT: ${{ secrets.TEAPOT_CA_CRT }}
          TEAPOT_CA_KEY:  ${{ secrets.TEAPOT_CA_KEY }}
        run: |
          cd robot/ubuntu
          echo "$TEAPOT_CA_CRT" > Teapot-testing.crt
          echo "$TEAPOT_CA_KEY" > Teapot-testing.key
          chmod 777 cert-gen.sh
          ./cert-gen.sh teapot-ubuntu
          cp ./../testing-configurations/user-mapping.csv .
          docker build . --tag ghcr.io/intertwin-eu/teapot-ubuntu:latest
          echo "$TOKEN" | docker login ghcr.io -u "$USERNAME" --password-stdin
          docker push ghcr.io/intertwin-eu/teapot-ubuntu:latest

  container-robot:
    name: container-robot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build and push robot testing container
        env:
          TOKEN: ${{ secrets.TOKEN }}
          USERNAME: ${{ secrets.USERNAME }}
          TEAPOT_CA_CRT: ${{ secrets.TEAPOT_CA_CRT }}
        run: |
          echo "$TEAPOT_CA_CRT" > Teapot-testing.crt
          echo "$TOKEN" | docker login ghcr.io -u "$USERNAME" --password-stdin
          docker build -f robot/robot.dockerfile -t ghcr.io/intertwin-eu/robot-testing:latest .
          docker push ghcr.io/intertwin-eu/robot-testing:latest

  container-keycloak:
    name: container-keycloak
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build and push keycloak container
        env:
          TOKEN: ${{ secrets.TOKEN }}
          USERNAME: ${{ secrets.USERNAME }}
          TEAPOT_CA_CRT: ${{ secrets.TEAPOT_CA_CRT }}
          TEAPOT_CA_KEY:  ${{ secrets.TEAPOT_CA_KEY }}
        run: |
          cd keycloak-setup/
          echo "$TEAPOT_CA_CRT" > Teapot-testing.crt
          echo "$TEAPOT_CA_KEY" > Teapot-testing.key
          chmod 777 ./../robot/ubuntu/cert-gen.sh
          ./../robot/ubuntu/cert-gen.sh keycloak
          cp teapot.crt keycloak.pem
          cp teapot.key keycloak-key.pem
          echo "$TOKEN" | docker login ghcr.io -u "$USERNAME" --password-stdin
          docker build -f Dockerfile -t ghcr.io/intertwin-eu/keycloak:latest .
          docker push ghcr.io/intertwin-eu/keycloak:latest

  container-alise:
    name: container-alise
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build and push alise container
        env:
          TOKEN: ${{ secrets.TOKEN }}
          USERNAME: ${{ secrets.USERNAME }}
          TEAPOT_CA_CRT: ${{ secrets.TEAPOT_CA_CRT }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          ALISE_CLIENT_SECRET: ${{ secrets.ALISE_CLIENT_SECRET }}
        run: |
          cd robot/alise
          echo "$TEAPOT_CA_CRT" > Teapot-testing.crt
          envsubst < alise.conf > alise_out.conf
          rm alise.conf && mv alise_out.conf alise.conf
          echo "$TOKEN" | docker login ghcr.io -u "$USERNAME" --password-stdin
          docker build -f Dockerfile -t ghcr.io/intertwin-eu/alise:latest .
          docker push ghcr.io/intertwin-eu/alise:latest

  test:
    name: test
    needs: [build-fedora-rpm, container-teapot, container-teapot-ubuntu, container-robot, container-keycloak, container-alise]
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/intertwin-eu/robot-testing:latest
      credentials:
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.TOKEN }}
    services:
      keycloak:
        image: ghcr.io/intertwin-eu/keycloak:latest
        credentials:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}
      alise:
        image: ghcr.io/intertwin-eu/alise:latest
        credentials:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}
      teapot:
        image: ghcr.io/intertwin-eu/teapot:latest
        credentials:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}
      teapot-ubuntu:
        image: ghcr.io/intertwin-eu/teapot-ubuntu:latest
        credentials:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Test Teapot
        run: |
          eval "$(oidc-agent)"
          envsubst < keycloak-setup/test_client_config.json > keycloak-setup/test_client_config_final.json
          envsubst < keycloak-setup/alise_client_config.json > keycloak-setup/alise_client_config_final.json
          oidc-gen --flow password -f keycloak-setup/test_client_config_final.json --op-username test-user1 --op-password secret1  --prompt none --pw-file keycloak_setup/pw-file test-user1
          oidc-gen --flow password -f keycloak-setup/test_client_config_final.json --op-username test-user2 --op-password secret2  --prompt none --pw-file keycloak_setup/pw-file test-user2
          oidc-gen --flow password -f keycloak-setup/test_client_config_final.json --op-username test-user3 --op-password secret3  --prompt none --pw-file keycloak_setup/pw-file test-user3
          oidc-gen --flow password -f keycloak-setup/test_client_config_final.json --op-username test-user4 --op-password secret4  --prompt none --pw-file keycloak_setup/pw-file test-user4
          oidc-gen --flow password -f keycloak-setup/alise_client_config_final.json --op-username alise-user1 --op-password secret1  --prompt none --pw-file keycloak_setup/pw-file alise-user1
          oidc-gen --flow password -f keycloak-setup/alise_client_config_final.json --op-username alise-user2 --op-password secret2  --prompt none --pw-file keycloak_setup/pw-file alise-user2
          robot --outputdir /__w/teapot/teapot/robot/output/ /__w/teapot/teapot/robot/teapot-tests.robot
        env:
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          ALISE_CLIENT_SECRET: ${{ secrets.ALISE_CLIENT_SECRET }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: robot-tests
          path: /__w/teapot/teapot/robot/output

  generate_report:
    if: always()
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v4
        with:
          name: robot-tests
          path: /home/runner/work/teapot/teapot/reports/
      - name: Send report to commit
        uses: joonvena/robotframework-reporter-action@v2.4
        with:
          gh_access_token: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Create Release
    needs: [build-fedora-rpm, build-almalinux-rpm, build-rockylinux-rpm, build-deb, test]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts/
      - name: Unzip all artifacts
        run: |
          mkdir -p rpms/
          mkdir -p debs/
          find artifacts/ -name "*.rpm" -exec cp {} rpms/ \;
          find artifacts/ -name "*.deb" -exec cp {} debs/ \;
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            rpms/*.rpm
            debs/*.deb
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}